<div class="project-wrap" *ngIf="project">
    <app-loading *ngIf="!project"></app-loading>
    <div *ngIf="message" class="row message">{{ message }}</div>           
            
    <div class="general-info">
      <div class="row">
          <div class="project-num">
              <mat-label>* Project Number</mat-label>
              <mat-form-field>
                  <input matInput name="number"  placeholder="" [(ngModel)]="project.number" required  [disabled]="!isEditable"> 
              </mat-form-field>
          </div>

          <div class="project-name">
              <mat-label>* Project Name</mat-label>
              <mat-form-field>
                  <input matInput name="name"  placeholder="" [(ngModel)]="project.name" required [disabled]="!isEditable">
              </mat-form-field>
          </div>
      </div>

      <div class="row">
          <div class="project-type">
              <mat-label>* Project Type</mat-label>
              <mat-form-field>
                  <mat-select name="project_type" placeholder="" [(ngModel)]="project.project_type" aria-required="true" [disabled]="!isEditable">
                      <mat-option *ngFor="let project_type of projectTypes | async" [value]="project_type">{{ project_type }}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>

      <div class="row">
          <div class="contract-type">
              <mat-label>Contract Type</mat-label>
              <mat-form-field>
                  <mat-select name="contract_type" placeholder="" [(ngModel)]="project.contract_type" [disabled]="!isEditable">
                    <mat-option *ngFor="let contract_type of contractTypes | async" [value]="contract_type">{{ contract_type }}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>

      <div class="row">
          <div class="address">
              <mat-label>Address</mat-label>
              <mat-form-field>
                  <input matInput name="address"  placeholder="" [(ngModel)]="project.address" [disabled]="!isEditable">
              </mat-form-field>
          </div>
      </div>

      <div class="row">
          <div class="province">
              <mat-label>State/Province</mat-label>
              <mat-form-field>
                  <input matInput name="state"  placeholder="" [(ngModel)]="project.state" [disabled]="!isEditable">
              </mat-form-field>
          </div>

          <div class="zip-code">
              <mat-label>Zip Code</mat-label>
              <mat-form-field>
                  <input matInput name="zipcode"  placeholder="" [(ngModel)]="project.zipcode" [disabled]="!isEditable">
              </mat-form-field>
          </div>
      </div>
      
      <div class="row">
          <div class="country" *ngIf="countries">
              <mat-label>* Country</mat-label>
              <mat-form-field>
                  <mat-select name="country" placeholder="" [value]="project.country" [(ngModel)]="project.country" aria-required="true" [disabled]="!isEditable" (selectionChange)="countryChange()" required>
                        <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
                  </mat-select>
            </mat-form-field>
          </div>
      </div>
    
      <div class="row">
          <div class="time-zone" *ngIf="timezones">
              <mat-label>* Project Time zone</mat-label>
              <mat-form-field>
                  <mat-select name="timezone" placeholder="" [(ngModel)]="project.timezone" aria-required="true" [disabled]="!isEditable" required>
                        <mat-option *ngFor="let timezone of timezones" [value]="timezone.name">{{ timezone.name + "  (UTC " + timezone.offsetStr + ")" }}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>
    
  </div>

  <div class="details">

      <div class="row">
          <mat-label>Model Units</mat-label>
    
          <mat-label>Rounding</mat-label>

          <mat-label class="geo-location">Geo Location</mat-label>
      </div>
      
      <div class="row">
          <mat-form-field>
              <mat-select name="length" placeholder="" [(ngModel)]="project.length" [disabled]="!isEditable">
                <mat-option *ngFor="let length of lengths | async" [value]="length">{{ length }}</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-select name="length_rounding" placeholder="" [(ngModel)]="project.length_rounding" [disabled]="!isEditable">
                <mat-option *ngFor="let rounding of roundings | async" [value]="rounding">{{ rounding }}</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field class="geo-location">
              <input matInput name="geolocation_1" placeholder="" [(ngModel)]="project.geolocation_1" [disabled]="!isEditable">
          </mat-form-field>
      </div>
      
      <div class="row">
          <mat-form-field>
              <mat-select name="area" placeholder="" [(ngModel)]="project.area" [disabled]="!isEditable">
                <mat-option *ngFor="let area of areas | async" [value]="area">{{ area }}</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-select name="area_rounding" placeholder="" [(ngModel)]="project.area_rounding" [disabled]="!isEditable">
                <mat-option *ngFor="let rounding of roundings | async" [value]="rounding">{{ rounding }}</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field class="geo-location">
            <input matInput name="geolocation_2" placeholder="" [(ngModel)]="project.geolocation_2" [disabled]="!isEditable">
          </mat-form-field>
      </div>
      
      <div class="row">
          <mat-form-field>
              <mat-select name="volumn" placeholder="" [(ngModel)]="project.volumn" [disabled]="!isEditable">
                <mat-option *ngFor="let volumn of volumns | async" [value]="volumn">{{ volumn }}</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-select name="volumn_rounding" placeholder="" [(ngModel)]="project.volumn_rounding" [disabled]="!isEditable">
                <mat-option *ngFor="let rounding of roundings | async" [value]="rounding">{{ rounding }}</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field class="geo-location">
              <input matInput name="geolocation_3" placeholder="" [(ngModel)]="project.geolocation_3" [disabled]="!isEditable">
          </mat-form-field>
      </div>
      
      <div class="row">
          <mat-form-field>
              <mat-select name="angle" placeholder="" [(ngModel)]="project.angle" [disabled]="!isEditable">
                <mat-option *ngFor="let angle of angles | async" [value]="angle">{{ angle }}</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-select name="angle_rounding" placeholder="" [(ngModel)]="project.angle_rounding" [disabled]="!isEditable">
                <mat-option *ngFor="let rounding of roundings | async" [value]="rounding">{{ rounding }}</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field class="geo-location">
              <input matInput name="geolocation_4" placeholder="" [(ngModel)]="project.geolocation_4" [disabled]="!isEditable">
          </mat-form-field>
      </div>

      <div class="row" *ngIf="!projectKey">
        <div class="bim-standard">
          <mat-label>BIM Standard</mat-label>
          <mat-form-field>
              <mat-select name="bim_template" placeholder="" [(ngModel)]="project.bim_template" [disabled]="!isEditable || projectKey">
                <mat-option value="default">Default</mat-option>
                <mat-option *ngFor="let template of templates" [value]="template.key">{{ template.templatename }}</mat-option>
              </mat-select>
              <mat-hint align="end">Note : BIM Standard can not be changed ones saved !</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="projectId && isEditable">
          <div class="open-dialogs">
                <a class="save-project" (click)="saveTemplateDialog()">Save Project as Template</a>
                <a class="archive-project" (click)="archiveProjectDialog()">Archive Project</a>
          </div>
      </div>
  
      <div *ngIf="projectRole == 1 || !projectKey" class="actions">
        <button mat-raised-button color="blue" *ngIf="isEditable" (click)="saveProject()">Save Project</button>
        <button mat-stroked-button color="blue" *ngIf="isEditable" (click)="cancel()">Cancel</button>
        <button mat-stroked-button color="blue" *ngIf="!isEditable" (click)="switchEditable()">Edit</button>
      </div>
  </div>
</div>