<div>
    {{profileId}}
</div>

<div class="project-wrap">
  <div class="general-info">
      <div class="row">
          <div class="project-num">
              <mat-label>* Project Number</mat-label>
              <mat-form-field>
                  <input matInput  placeholder="">
              </mat-form-field>
          </div>

          <div class="project-name">
              <mat-label>* Project Name</mat-label>
              <mat-form-field>
                  <input matInput  placeholder="">
              </mat-form-field>
          </div>
      </div>

      <div class="row">
          <div class="project-type">
              <mat-label>* Project Type</mat-label>
              <mat-form-field>
                  <mat-select placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>

      <div class="row">
          <div class="contract-type">
              <mat-label>Contract Type</mat-label>
              <mat-form-field>
                  <mat-select placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>

      <div class="row">
          <div class="address">
              <mat-label>Address</mat-label>
              <mat-form-field>
                  <input matInput  placeholder="">
              </mat-form-field>
          </div>
      </div>

      <div class="row">
          <div class="province">
              <mat-label>Stage/Province</mat-label>
              <mat-form-field>
                  <input matInput  placeholder="">
              </mat-form-field>
          </div>

          <div class="zip-code">
              <mat-label>Zip Code</mat-label>
              <mat-form-field>
                  <input matInput  placeholder="">
              </mat-form-field>
          </div>
      </div>
      
      <div class="row">
          <div class="country">
              <mat-label>* Country</mat-label>
              <mat-form-field>
                  <mat-select placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                  </mat-select>
            </mat-form-field>
          </div>
      </div>
    
      <div class="row">
          <div class="time-zone">
              <mat-label>* Project Time zone</mat-label>
              <mat-form-field>
                  <mat-select placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>
    
  </div>

  <div class="details">

      <div class="row">
          <mat-label>Model Units</mat-label>
    
          <mat-label>Rounding</mat-label>

          <mat-label class="geo-location">Geo Location</mat-label>
      </div>
      
      <div class="row">
          <mat-form-field>
              <mat-select placeholder="Select">
                  <mat-option value="option">Option</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-select placeholder="Select">
                  <mat-option value="option">Option</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field class="geo-location">
              <input matInput placeholder="Input">
          </mat-form-field>
      </div>
      
      <div class="row">
          <mat-form-field>
              <mat-select placeholder="Select">
                  <mat-option value="option">Option</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field class="geo-location">
            <input matInput placeholder="Input">
          </mat-form-field>
      </div>
      
      <div class="row">
          <mat-form-field>
              <mat-select placeholder="Select">
                  <mat-option value="option">Option</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field class="geo-location">
              <input matInput placeholder="Input">
          </mat-form-field>
      </div>
      
      <div class="row">
          <mat-form-field>
              <mat-select placeholder="">
                  <mat-option value="option">Option</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field>
              <mat-select placeholder="">
                <mat-option value="option">Option</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field class="geo-location">
              <input matInput placeholder="Input">
          </mat-form-field>
      </div>

      <div class="row">
        <div class="bim-standard">
          <mat-label>BIM Standard</mat-label>
          <mat-form-field>
              <mat-select placeholder="">
                <mat-option value="option">Default</mat-option>
              </mat-select>
              <mat-hint align="end">Note : BIM Standard can not be changed ones saved !</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="actions">
        <button mat-raised-button color="blue">Save Project</button>
        <button mat-stroked-button color="blue">Cancel</button>
      </div>
  </div>
</div>