.notification{
    position: relative;
    mat-icon{
        color: #3B3838;
        font-size: 25px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin: 0 3px;
        cursor: pointer;
        display: flex;
        align-items: center;

        .badge{
            position: absolute;
            display: flex;
            width: 20px;
            height: 20px;
            justify-content: center;
            color: white;
            background: red;
            align-items: center;
            border-radius: 50%;
            top: -8px;
            right: -3px;
        }
    }

    .content{
        position:absolute;
        width: 380px;
        left: -175px;
        overflow: hidden;
        top: 40px;
        z-index: 1000;

        .arrow-icon-div{
            width: 100%;
            display: flex;
            justify-content: center;
            img{
                width: 15px;
                height: 15px;
            }
        }

        .notifications-container{
            background: #3B3838;
            border-radius: 5px;
            max-height: 420px;
            overflow: scroll;
            .header{
                display: flex;
                justify-content: flex-end;
                padding: 0 10px;
                font-size: 12px;

                .clear-btn{
                    cursor: pointer;
                    color: #ddd;
                }
            }

            .notification-list{

            }

            .no-notifications{
                display:flex;
                justify-content: center;
                padding: 10px;
            }
        }
    }
}
