<div class="notification">
  <mat-icon (click)="toggle()">notifications
    <span *ngIf="badge" class="badge">{{badge}}</span>
  </mat-icon>

  <div class="content" *ngIf="isShow">
    <div class="arrow-icon-div">
      <img src="/assets/icons/triangle.svg" alt="">
    </div>
    <div class="notifications-container">
      <div class="header">
        <span class="clear-btn" (click)="clear()"> Clear all</span>
      </div>
      <div class="notification-list" *ngIf="!isLoading && notifications.length > 0">
        <app-notification-item *ngFor="let notification of notifications" [notification]="notification"></app-notification-item>
      </div>
      <div *ngIf="!isLoading && notifications.length == 0" class="no-notifications">
        <h2>No Notification</h2>
      </div>
      <app-loading *ngIf="isLoading"></app-loading>
    </div>
  </div>
</div>
