.nav-item-signinaccount,
.nav-item-createaccount
{
    font-size: 12px;
    cursor: pointer;
}

.sp-line{
    margin: 0;
    font-size: 20px;
}

.header.mat-toolbar-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #181717;
    height: 50px;
    
    .left-group {
        .logo a {
            font-size: 1.5em;
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;

            strong {
                font-size: 1.2em;
                color: #ffffff;
            }

            img {
                height: 50px;
                margin-top: 10px;
            }
        }
    }
    .right-group{
        display: flex;
        align-items: center;
        width: auto;

        > div {
            padding: 0 10px;
        }
        .small-avatar {
            background: #2F5597;
            border-radius: 100%;
            padding: 5px;
            margin-left: 10px;
            font-size: .7em;
            cursor: pointer;
        }
        .small-avatar-image{
            margin-left: 10px;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            border: solid 1px #2F5597; 
            cursor: pointer;
        }
        span {
            cursor: pointer;
        }
        button {
            background: none;
            margin: 0 5px;
            border: 2px solid #2F5597;
            line-height: 25px;
        }
        mat-icon{
            color: #3B3838;
            font-size: 25px;
            width: 25px;
            height: 25px;
            line-height: 25px;
            margin: 0 3px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
}
