.nav-item-signinaccount,
.nav-item-createaccount
{
    font-size: 12px;
    cursor: pointer;
}

.sp-line{
    margin: 0 50px;
    font-size: 12px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .right-group{
        display: flex;
        flex-direction: row;

        mat-icon{
            margin: 0 10px;
            color: #797979;
            font-size: 36px;
            cursor: pointer;
        }
    }
}