<mat-toolbar color="primary">
  <mat-toolbar-row style="justify-content: space-between;" class="header">
    <div class=left-group>
      <span class="logo"><a (click)="gotourl('/')"><strong>BIM</strong> . VU</a></span>
      <span class="sp-line"> |</span> 
      <span class="page-title"></span>
    </div>
    <div class="right-group">
        <div>
            <span *ngIf="url == '/signin'" class="nav-item-createaccount" (click)="gotourl('/signup')">CREATE ACCOUNT</span>
            <span *ngIf="url == '/signup'" class="nav-item-signinaccount" (click)="gotourl('/')">SIGN IN</span>
            <span (click)="openDialog()" *ngIf="isAuth">Hi {{userProfile.name}}</span>
            <span (click)="openDialog()" *ngIf="isAuth && avartarImage.type == 'text'" class="small-avatar">{{avartarImage.val}}</span>
            <img (click)="openDialog()" *ngIf="isAuth && avartarImage.type == 'image'" class="small-avatar-image" [src]="avartarImage.val">
        </div>
        <mat-icon>notifications</mat-icon>
        <button mat-flat-button color="white" (click)="gotourl('/upgrade')">Upgrade</button>
        <mat-icon>help</mat-icon>
        <mat-icon (click)="signout()">cancel</mat-icon>  
    </div>
  </mat-toolbar-row>
</mat-toolbar>