.main-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .content-search {
        background: #ffffff;

        .bim-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            .mat-form-field {
                margin-right: 30px;
            }

            .mat-button {
                background: #ffffff;
                border: 2px solid #215ebb;
                color: #215ebb;
            }
        }
        
        .tool-bar {
            display: flex;
            flex-direction: row-reverse;

            > div {
                display: flex;
                padding: 10px;
                align-items: center;
                align-content: center;
            }
        }
    }

    .table-container {
        height: calc(100% - 100px);
        width: 100%;
        overflow: auto;
        
        .mat-table {

            .mat-header-cell, .mat-cell {
                color: #000000;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;

                span {
                    // padding: 10px 30px;
                }
            }

            .mat-header-cell {
                font-weight: 800;
                text-transform: capitalize;
            }

            .table-cell {
                width: 100px;
            }

            .mat-header-row, .mat-row {
                .mat-header-cell.mat-table-sticky {
                    border-bottom: 1px solid #000000;
                }
                .mat-cell {
                    border: none;
                }
            }            
        }
    }

    .check-toggle {
        width: 100px;
        height: 30px;
        border-radius: 0;
    }
    .check-toggle .toggle-inactive {
        border: 2px solid #AFABAB;
        display: flex;
        flex-direction: row-reverse
    }
    .check-toggle .toggle-inactive span {
        background: #AFABAB;
    }
    .check-toggle .toggle-active {
        border: 2px solid #00B050;
        display: flex;
    }
    .check-toggle .toggle-active span {
        background: #00B050;
    }
    .check-toggle span {
        width: 80px;
        height: 26px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
    }

}