<div class="main-content">
    <div class="content-search">
        <div class="search-form">
          <div>
            <mat-form-field color="white" class="">
              <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
            </mat-form-field>
      
            <mat-form-field color="white">
              <mat-select placeholder="Discipline" [(ngModel)]="disciplineFilter" (selectionChange)="filterBySelection()">
                <mat-option value="">All</mat-option>
                <mat-option *ngFor="let discipline of disciplines" [value]="discipline.key">
                  {{discipline.code}} 
                </mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field color="white">
              <mat-select placeholder="Role" [(ngModel)]="roleFilter" (selectionChange)="filterBySelection()">
                <mat-option value="">All</mat-option>
                <mat-option *ngFor="let role of roles" [value]="role.key">
                  {{role.val}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field color="white">
              <mat-select placeholder="Access" [(ngModel)]="accessFilter" (selectionChange)="filterBySelection()">
                <mat-option value="">All</mat-option>
                <mat-option *ngFor="let access of accesses" [value]="access.key">
                  {{access.val}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="projectRole == 1">
            <button mat-stroked-button color="blue" *ngIf="!isEditable" (click)="switchEditable()">Edit</button>
            <button mat-raised-button color="blue" *ngIf="isEditable" (click)="switchEditable()">Done</button>
          </div>           
        </div>

        <div *ngIf="(projectRole == 1) && isEditable" class="tool-bar">
          <div class="insert" (click)="insertRow()"><mat-icon>add</mat-icon>Insert</div>
          <div class="delete" (click)="deleteRow()"><mat-icon>clear</mat-icon>Delete</div>
          <div class="edit" *ngIf="!editableKey" (click)="editRow()"><mat-icon>edit</mat-icon>Edit</div>
          <div class="edit" *ngIf="editableKey" (click)="saveRow()"><mat-icon>save</mat-icon>Save</div>
        </div>
      </div>
    
    <div class="table-container mat-elevation-z8">
        <table mat-table color="white" [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element">
              <div style="display: flex;align-items: center;padding: 5px;" *ngIf="element.key != editableKey">
                <app-avatar [userProfile]="{'name': element.name, 'avatar': '', randomColor: getDisciplineByKey(element.discipline).code_color}"></app-avatar>
                <span  class="no-bg" style="padding-left: 10px;">
                  {{element.name}}
                </span>
              </div>
              <mat-form-field *ngIf="(element.key == editableKey)">
                <input matInput [(ngModel)]="element.name" placeholder="" required>
              </mat-form-field>
            </td>
          </ng-container>
    
          
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.key != editableKey" class="no-bg text-light">{{element.company}}</span>
              <mat-form-field *ngIf="(element.key == editableKey)">
                <input matInput [(ngModel)]="element.company" required placeholder="">
              </mat-form-field>
            </td>
          </ng-container>
    
          
          <ng-container matColumnDef="discipline">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Discipline </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="(element.key != editableKey)" [style.background]="getDisciplineByKey(element.discipline).code_color" class="colored text-center">{{getDisciplineByKey(element.discipline).code}}</span>
              <mat-form-field color="white" *ngIf="(element.key == editableKey)">
                <mat-select placeholder="" [(ngModel)]="element.discipline">
                  <mat-option *ngFor="let discipline of disciplines" [value]="discipline.key">
                    {{discipline.code}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
      
          
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.key != editableKey" class="no-bg text-light">{{roles[element.role].val}}</span>
              <mat-form-field color="white" *ngIf="(element.key == editableKey)">
                <mat-select placeholder="" [(ngModel)]="element.role">
                  <mat-option *ngFor="let role of roles" [value]="role.key">
                    {{role.val}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
      
          
          <ng-container matColumnDef="access">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Access </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="(element.key != editableKey) " class="no-bg text-light">{{accesses[element.access].val}}</span>
              <mat-form-field color="white" *ngIf="(element.key == editableKey) ">
                <mat-select placeholder="" [(ngModel)]="element.access">
                  <mat-option *ngFor="let access of accesses" [value]="access.key">
                    {{access.val}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
      
          
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">
              <a *ngIf="element.key != editableKey" class="text-light">{{element.email}}</a>
              <mat-form-field *ngIf="element.key == editableKey">
                <input matInput [(ngModel)]="element.email" required placeholder="">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.key != editableKey" class="text-light">{{element.phone}}</span>
              <mat-form-field *ngIf="element.key == editableKey">
                  <!-- <span matPrefix>+1 &nbsp;</span> -->
                  <input type="number" matInput [(ngModel)]="element.phone" placeholder="">
              </mat-form-field>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'selected' : (row.key == selectedKey)}" (click)="selectRow(row.key)"></tr>
        </table>
    </div>
</div>