.mat-column-name {
    width: 250px;
}
.mat-column-company {
    width: 150px;
}
.mat-column-discipline {
    width: 100px;
}
.mat-column-role {
    width: 150px;
}
.mat-column-access {
    width: 150px;
}
.mat-column-email {
    width: 250px;
}