.avatar{
    .avatar-img{
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .avatar-txt{
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        border-radius: 50%;
    }
}