.main-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .check-toggle > div {
        width: 30px;
        height: 30px;

        &.toggle-active {
            background: #00B050;
        }
        &.toggle-inactive {
            background: #d2d2d2;
        }
    }
}