<div class="expired" *ngIf="!isLoading">
    <img [src]="user.avatar == '' ? '/assets/images/avatar.png' : user.avatar" alt="" class="user-avartar">
    <p style="margin-top: 30px;">
      <span style="font-size: 30px;color: white;"><strong style="font-size: 30px;color: white;">BIM</strong> . VU</span>
    </p>
    <p style="font-size: 25px;color: white;    margin-top: 25px;">
      Your <span style="font-size: 25px;color:#2f5597">30 day</span> trial period has expired. Please upgrade.
    </p>

    <button class="upgrade-btn" (click)="gotourl('/upgrade')">UPGRADE</button>

    <button class="contact-btn">CONTACT SUPPORT</button>

</div>

<app-loading *ngIf="isLoading"></app-loading>