.main-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .table-container {        
        .mat-table {
            .mat-header-row, .mat-row {
                .mat-header-cell.mat-table-sticky {
                    border-bottom: 1px solid #000000;
                }
                .mat-cell {
                    border: none;

                    .discipline-code {
                        display: flex;
                        align-items: stretch;

                        .color-picker-selector {
                            width: 10px;
                            padding: 0;
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }

                        .discipline-code-label {
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }
                    }
                }
                .mat-table-sticky{
                    &:first-child {
                        width: 100px;
                    }

                    &:nth-child(2) {
                        left: 96px !important;
                        width: 150px;
                    }

                    &:nth-child(3) {
                        left: 239px !important;
                        width: 150px;
                        border-right: 1px solid #e0e0e0;
                    }
                }
            }

            .mat-row.selected {
                .mat-cell {
                    z-index: 2 !important;
                }
            }
        }
    }
      
      
}

.gray-100 {
    background: #ececec;
}

.gray-200 {
    background: #e0e0e0;
}

.gray-300 {
    background: #b7b7b7;
}

.gray-400 {
    background: #9a9a9a;
}

.gray-500 {
    background: #7b7b7b;
}


   
 