<div class="main-content">
    <div class="content-search">
        <div class="search-form">
            <div>
                <mat-form-field color="white" class="">
                    <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
                </mat-form-field>
            </div>
            <div *ngIf="projectRole == 1">
                <button mat-stroked-button color="blue" *ngIf="!isEditable" (click)="switchEditable()">Edit</button>
                <button mat-raised-button color="blue" *ngIf="isEditable" (click)="switchEditable()">Done</button>
            </div>        
        </div>
    
        <div *ngIf="isEditable" class="tool-bar">
            <div class="movedown" (click)="moveDown()"><mat-icon>keyboard_arrow_down</mat-icon>Move down</div>
            <div class="moveup" (click)="moveUp()"><mat-icon>keyboard_arrow_up</mat-icon>Move up</div>
            <div class="insert" (click)="insertRow()"><mat-icon>add</mat-icon>Insert</div>
            <div class="delete" (click)="deleteRow()"><mat-icon>clear</mat-icon>Delete</div>
            <div class="edit" *ngIf="!editableKey" (click)="editRow()"><mat-icon>edit</mat-icon>Edit</div>
            <div class="edit" *ngIf="editableKey" (click)="saveRow()"><mat-icon>save</mat-icon>Save</div>
        </div>
    </div>
  
    <div class="table-container mat-elevation-z8">
        <table mat-table color="white" [dataSource]="dataSource" matSort>
      
          <!-- No. Column -->
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element">
              M{{("00"+element.number).slice(-2)}}
            </td>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>
    
          <!-- Disciple Column -->
          <ng-container matColumnDef="meeting">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Meeting </th>
            <td mat-cell *matCellDef="let element"> 
              <span *ngIf="element.key != editableKey">{{element.meeting}}</span>
              <mat-form-field *ngIf="element.key == editableKey">
                <input matInput [(ngModel)]="element.meeting" required>
              </mat-form-field>
            </td>
          </ng-container>
    
          <!-- Code Column -->
          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
            <td mat-cell *matCellDef="let element"> 
              <span *ngIf="element.key != editableKey" class="bg-gray colored text-center">{{element.start | date }}</span>
              <mat-form-field *ngIf="element.key == editableKey" class="bg-white">
                  <input matInput [matDatepicker]="picker" [(ngModel)]="element.start" class="text-center" required disabled>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker disabled="false"></mat-datepicker>
              </mat-form-field>
            </td>
          </ng-container>
      
          <!-- s01 Column -->
          <ng-container matColumnDef="frequency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Frequency </th>
            <td mat-cell *matCellDef="let element"> 
              <span *ngIf="element.key != editableKey" class="bg-gray colored text-center">{{ element.frequency }}</span>
              <mat-form-field *ngIf="element.key == editableKey">
                  <mat-select name="meeting_frequency" placeholder="" [(ngModel)]="element.frequency" class="text-center" required aria-required="true">
                      <mat-option *ngFor="let option of frequencyOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
      
          <!-- s02 Column -->
          <ng-container matColumnDef="organizer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Organizer </th>
            <td mat-cell *matCellDef="let element">
              <app-organizer *ngIf="element.key != editableKey" [projectid]="projectKey" [memberid]="element.organizer"></app-organizer>
              <mat-form-field *ngIf="element.key == editableKey">
                <mat-select name="meeting_frequency" placeholder="" [(ngModel)]="element.organizer" class="text-center" required aria-required="true">
                  <mat-option *ngFor="let member of teamMembers" [value]="member.key">{{ member.name }} / {{ roles[member.role].val }}</mat-option>
              </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'selected' : (row.key == selectedKey)}" (click)="selectRow(row.key)"></tr>
        </table>
    </div>

  

</div>
