<div class="project-sidebar">
    <div class="project-thumb">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </div>

    <ul class="sidebar-list">
        <li class="sidebar-item" (click)="gotourl('project/profile')">Profile</li>
        <li class="sidebar-item">Stages</li>
        <li class="sidebar-item">Bim Uses</li>
        <li class="sidebar-item active" (click)="gotourl('project/LOD')">Lod</li>
        <li class="sidebar-item">Clash Matrix</li>
        <li class="sidebar-item">Configuration</li>
        <li class="sidebar-item">Team</li>
        <li class="sidebar-item">Meetings</li>
        <li class="sidebar-item">Quality</li>
    </ul>
</div>
  