.main-content {
    .check-toggle {
        width: 100px;
        height: 30px;
        border-radius: 0;

        .toggle-inactive {
            border: 2px solid #AFABAB;
            display: flex;
            flex-direction: row-reverse;
            
            span {
                background: #AFABAB;
            }
        }

        .toggle-active {
            border: 2px solid #00B050;
            display: flex;
    
            span {
                background: #00B050;
            }
        }

        span {
            width: 80px;
            height: 26px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 !important;
        }
    }
    
}