<div class="authentication">
  <mat-card class="auth-form">
      <mat-card-header>
          <mat-card-title><strong>BIM</strong>.VU</mat-card-title>
      </mat-card-header>

      <mat-card-content>
          <form class="forgetpassword-form">
              <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input  matInput  placeholder="Email" name="email" [(ngModel)]="user.email">
              </mat-form-field>
          </form>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button (click)="sendRequest()" color="primary" class="full-width">Submit</button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="auth-form-social">
      <mat-card-header>
          <mat-card-title>
              Alternative Sign in
          </mat-card-title>
      </mat-card-header>

      <mat-card-content>
          <button mat-raised-button (click)="tryGoogleLogin()" color="primary" class="full-width google-sign"><mat-icon svgIcon="google-plus"></mat-icon>Sign in with Google+</button>
          <button mat-raised-button (click)="register()" color="primary" class="full-width linkedin-sign"><mat-icon svgIcon="linkedin"></mat-icon>Sign in with Linkedin</button>
      </mat-card-content>
  </mat-card>
</div>
