<div class="right-panel">
  <div class="search-bar">
      <form class="search-form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Search" value="">
          </mat-form-field>
        </form>
  </div>
  
  <ul class="msg-list">
    <li class="msg-list-item">
      <div class="msg-sender">
        <img src="/assets/images/avatar.png">
        <div class="msg-sender-detail">
          <p class="name">Billy Alonzo</p>
          <p>BIM Manager</p>
        </div>
      </div>

      <div class="msg-content">
        <span>We are in the process of finalizing the stage milestones. Is everyone ok with the list shown here?</span>
      </div>

      <div class="msg-date">
        <span>2nd Feb 2019</span>
      </div>
    </li>

    <li class="msg-list-item">
        <div class="msg-sender">
          <img src="/assets/images/avatar.png">
          <div class="msg-sender-detail">
            <p class="name">Billy Alonzo</p>
            <p>BIM Manager</p>
          </div>
        </div>
  
        <div class="msg-content">
          <span>We are in the process of finalizing the stage milestones. Is everyone ok with the list shown here?</span>
        </div>
  
        <div class="msg-date">
          <span>2nd Feb 2019</span>
        </div>
    </li>
  </ul>

  <div class="msg-box">
      <form class="search-form">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Leave a comment"></textarea>
          </mat-form-field>
        </form>
  </div>
</div>
