<div class="right-panel">
  <div class="search-bar" >
      <form class="search-form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Search" (keyup)="search($event.target.value)">
          </mat-form-field>
        </form>
  </div>
  
  <app-loading *ngIf="isLoading"></app-loading>

  <ul class="msg-list"  *ngIf="!isLoading && messagesShow.length == 0">
    <h2 class="no-messages">No Messages</h2>
  </ul>
  <ul class="msg-list" *ngIf="!isLoading && messagesShow && messagesShow.length>0" #feedContainer>
    <li class="msg-list-item" *ngFor="let message of messagesShow">
      <app-message [message]="message"></app-message>
    </li>

  </ul>

  <div class="msg-box">
    <textarea class="input-message-to-send" placeholder="Type something to send!" [(ngModel)]="msgtext"  (keyup)="handleSubmit($event)"></textarea>
    <mat-progress-bar *ngIf="isProgressForuploading" mode="indeterminate"></mat-progress-bar>
    <div class="chat-tools">
      <div class="adding-tools">
        <mat-icon (click)="popupforFile()">attach_file</mat-icon>
        <input type="file" #files_for_send id="files-for-send" (change)="handleFileInputFile($event.target.files)">
        <mat-icon (click)="popupforImage()">photo_camera</mat-icon>
        <input type="file" #images_for_send accept="image/*" id="images-for-send" (change)="handleFileInput($event.target.files)">
        <!-- <mat-icon (click)="isEmojji = !isEmojji">mood</mat-icon>
        <emoji-mart (emojiClick)="addEmoji($event)" *ngIf="isEmojji" [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"></emoji-mart> -->
      </div>
      <div class="send-button-tool">
        <div class="send-btn-round">
          <mat-icon (click)="sendMsg()" >send</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
