<div class="right-panel">
  <div class="search-bar" >
      <form class="search-form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Search" value="">
          </mat-form-field>
        </form>
  </div>
  
  <app-loading *ngIf="isLoading"></app-loading>

  <ul class="msg-list"  *ngIf="!isLoading && messages.length == 0">
    <h2 class="no-messages">No Messages</h2>
  </ul>
  <ul class="msg-list" *ngIf="!isLoading && messages && messages.length>0" #scroller>
    <li class="msg-list-item" *ngFor="let message of messages">
      <div class="msg-sender">
        <img src="/assets/images/avatar.png">
        <div class="msg-sender-detail">
          <p class="name">Billy Alonzo</p>
          <p>BIM Manager</p>
        </div>
      </div>

      <div class="msg-content">
        <span *ngIf="message.type == 'txt'">{{message.message}}</span>
        <a [href]='message.message' *ngIf="message.type == 'img'">
          <img [src]="message.message" class="chat-img">
        </a>
      </div>

      <div class="msg-date">
        <span>2nd Feb 2019</span>
      </div>
    </li>

  </ul>

  <div class="msg-box">
    <textarea class="input-message-to-send" placeholder="Type something to send!" [(ngModel)]="msgtext"  (keydown)="handleSubmit($event)"></textarea>
    <div class="chat-tools">
      <div class="adding-tools">
        <mat-icon>attach_file</mat-icon>
        <mat-icon (click)="popupforImage()">photo_camera</mat-icon>
        <input type="file" #images_for_send accept="image/*" id="images-for-send" (change)="handleFileInput($event.target.files)">
        <mat-icon>mood</mat-icon>
      </div>
      <div class="send-button-tool">
        <div class="send-btn-round">
          <mat-icon (click)="sendMsg()" >send</mat-icon>
        </div>
      </div>
    </div>
  </div>

  
</div>
