/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import './theme.css';

@font-face {
  font-family: "AvenirLTStd-Black";
  src: url(assets/font/Avenir-Font/AvenirLTStd-Black.otf) format("opentype");
}
@font-face {
  font-family: "AvenirLTStd-Book";
  src: url(assets/font/Avenir-Font/AvenirLTStd-Book.otf) format("opentype");
}
@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url(assets/font/Avenir-Font/AvenirLTStd-Roman.otf) format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url(assets/font/avenir-next/AvenirNextLTPro-Bold.otf) format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-It";
  src: url(assets/font/avenir-next/AvenirNextLTPro-It.otf) format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url(assets/font/avenir-next/AvenirNextLTPro-Regular.otf) format("opentype");
}
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'AvenirNextLTPro-Regular';
  font-size: 14px;
  color: #989D94;
}

body{
  background-color: #0D0D0D;
}

strong {
  font-family: "AvenirNextLTPro-Bold";
}

ul li {
  list-style: none;
}
.full-width {
  width: 100%;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: none; 
}

*::-webkit-scrollbar-thumb {
  background: #888; 
}

.mat-sort-header-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.mat-sort-header-button {
  text-transform: capitalize;
}

.mat-form-field-flex {
  background: #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}

.mat-form-field .mat-input-element {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-form-field-label {
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}

.mat-form-field-flex {
  border-bottom: 1px solid;
}

.mat-hint {
  color: #000000;
}

.mat-stroked-button.mat-blue {
  border: 1px solid #3b5998;
  border-radius: 0;
}
.mat-stroked-button.mat-blue span {
  color: #3b5998;
}

.mat-raised-button.mat-blue {
  background: #3b5998;
  border-radius: 0;
}
.mat-raised-button.mat-blue span {
  color: #ffffff;
}
.mat-header-cell .mat-sort-header-button {
  font-family: "AvenirNextLTPro-Bold";
  color: #000000;
}

button.primary {
  background: none;
  color: #3b5998;
  border: 1px solid #3b5998;
  border-radius: 0;
}

.authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}
.auth-form.mat-card {
  background: none;
  max-width: 500px;
  padding: 20px 50px 30px;
  border-right: 1px solid #3B3838;
  border-radius: 0 !important;
}
.auth-form .mat-card-title {
  font-size: 2.2em;
  color: #ffffff;
}
.auth-form .mat-card-header {
  display: flex;
  justify-content: center;
}
.auth-form .mat-card-title strong {
  font-size: 1em;
  color: #ffffff
}
.auth-form .mat-card-actions {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.auth-form .mat-card-actions button {
  background: #3b5998;
  text-transform: uppercase;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}
.auth-form .mat-card-actions .mat-button-wrapper {
  color: #ffffff;
}
.auth-form .mat-form-field-flex {
  background: #3B3838;
  border-bottom: 1px solid #3B3838;
}


.auth-form-social.mat-card {
  background: none;
  max-width: 400px;
  padding: 20px 100px 30px;
}

.auth-form-social button {
  margin-bottom: 15px;
  border-radius: 0;
}

.auth-form-social button span {
  color: #ffffff;
}

.auth-form-social .google-sign {
  background: #DD4B39;
}

.auth-form-social .linkedin-sign {
  background: #2876B4;
}
