<div class="home row" layout="row">
    <div flex *ngFor="let project of projects" class="col-md-2 card-div" (click)="gotourl('/project/profile/' + project.key)">
        <mat-card class="project-card">
            <mat-card-header>
                <mat-card-title>{{ project.number }}</mat-card-title>
                <mat-card-subtitle>{{ project.name }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image *ngIf="project.thumb_image" [src]="project.thumb_image" [alt]="project.name">
              <img mat-card-image *ngIf="!project.thumb_image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" [alt]="project.name">
            </mat-card-content>
        </mat-card>
    </div>

    <div flex class="col-md-2 card-div">
      <mat-card class="add-card">
        <mat-card-content>
            <div class="add-project">
                <img mat-card-image src="/assets/icons/baseline-add-24px.svg" alt="Photo of a Shiba Inu" class="add-card" (click)="gotourl('/project/new')">
            </div>
        </mat-card-content>
      </mat-card>
    </div>
</div>

<div class="home row" layout="row">
    <div flex *ngFor="let project of invitedProjects" class="col-md-2 card-div" (click)="gotourl('/project/profile/' + project.key)">
        <mat-card class="project-card">
            <mat-card-header>
                <mat-card-title>{{ project.number }}</mat-card-title>
                <mat-card-subtitle>{{ project.name }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image *ngIf="project.thumb_image" [src]="project.thumb_image" [alt]="project.name">
                <img mat-card-image *ngIf="!project.thumb_image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" [alt]="project.name">
            </mat-card-content>
        </mat-card>
    </div>
</div>