<div class="notification-item">
  <div class="info-content">
    <app-avatar *ngIf="userProfile" [userProfile]="userProfile"></app-avatar>
    <div class="user-noti-messages">
      <div class="user-info">
        <span class="user-name" *ngIf="userProfile">{{userProfile.name}}</span>
        <span class="noti-type-invite" *ngIf="notification.type == 'invite'"> invited you to</span>
        <span class="noti-type-comment" *ngIf="notification.type == 'comment'"> commented on</span>
        <span class="noti-type-comment" *ngIf="notification.type == 'add'"> added on</span>
        <span class="noti-type-comment" *ngIf="notification.type == 'update'"> updated on</span>
        <span class="noti-type-invite" *ngIf="notification.type == 'delete'"> Removed from</span>
      </div>
      <div>
        {{notification.message}}
      </div>
    </div>
  </div>
  <div class="diff">{{notification.diff}}</div>
</div>