<div class="profile">
  <p class="title">MY SETTINGS</p>
  <div class="tab-header">
    <span class="tab-header-item" [ngClass]="{'active': activeTab == 'Profile'}" (click)="activeTab = 'Profile'">Profile</span>
    <span class="tab-header-item" [ngClass]="{'active': activeTab == 'Account'}" (click)="activeTab = 'Account'">Account</span>
    <span class="tab-header-item" [ngClass]="{'active': activeTab == 'My Templates'}" (click)="activeTab = 'My Templates'">My Templates</span>
    <span class="tab-header-item" [ngClass]="{'active': activeTab == 'Apps'}" (click)="activeTab = 'Apps'">Apps</span>
  </div>

  <div class="tab-body">
    <div class="tab-body-item" *ngIf="activeTab == 'Profile'">
      <div class="tab-profile">
        <div class="left-side-for-image">
          <img [src]="userProfile.avatar == '' ? '/assets/images/avatar.png' : userProfile.avatar" alt="" class="profile-image">
          <input type="file" #images_for_profile accept="image/*" id="images-for-profile" (change)="handleFileInput($event.target.files)">
          <p class="change-delete-profile-image">
            <span class="change-btn" (click)="popupforImage()">Change</span> | 
            <span class="delete-btn" (click)="deleteProfileImage()">Delete</span>
          </p>
        </div>
        <div class="right-side-for-info">
          <mat-form-field class="">
            <input matInput placeholder="*Full Name" [(ngModel)]='userProfile.name'>
          </mat-form-field>
          
          <mat-form-field class="">
            <input matInput placeholder="*Email" [(ngModel)]='userProfile.email'>
          </mat-form-field>

          <mat-form-field class="">
            <span matPrefix>+1 &nbsp;</span> |
            <input type="tel" matInput placeholder="Phone Number" [(ngModel)]='userProfile.phone'>
          </mat-form-field>

          <mat-form-field class="">
            <input matInput placeholder="Company" [(ngModel)]='userProfile.company_name'>
          </mat-form-field>

          <div class="update-btn-div">
            <button (click)="updateProfile()">Update Profile</button>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-body-item" *ngIf="activeTab == 'Account'">
      <div class="tab-account">
        <button class="upgrade-btn">Upgrade</button>

        <p class="freetrial-explain">Your free trial expires in <span class="trial-days">25 days</span>!</p>

        <mat-form-field class="full-width">
          <mat-label>Old Password</mat-label>
          <input  matInput type="password"  placeholder="Old Password" [(ngModel)]="passwordUpdateInfo.old" >
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>New Password</mat-label>
          <input  matInput type="password"  placeholder="New Password" [(ngModel)]="passwordUpdateInfo.new">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Confirm</mat-label>
          <input  matInput type="password"  placeholder="Confirm" [(ngModel)]="passwordUpdateInfo.confirm">
        </mat-form-field>

        <div class="update-pwd-div">
          <button class="update-pwd-btn" (click)="updatePassword()">Update</button>
        </div>
      </div>

    </div>
  </div>
</div>