<div class="profile">
  <p class="title">
    <span>MY SETTINGS</span>
    <mat-icon class="close-icon" (click)="onNoClick()">close</mat-icon>
  </p>
  <div class="tab-header">
    <span class="tab-header-item" [ngClass]="{'active': activeTab == 'Profile'}" (click)="activeTab = 'Profile'">Profile</span>
    <span class="tab-header-item" [ngClass]="{'active': activeTab == 'Account'}" (click)="activeTab = 'Account'">Account</span>
    <span class="tab-header-item" [ngClass]="{'active': activeTab == 'My Templates'}" (click)="activeTab = 'My Templates'">My Templates</span>
    <span class="tab-header-item" [ngClass]="{'active': activeTab == 'Apps'}" (click)="activeTab = 'Apps'">Apps</span>
  </div>

  <div class="tab-body">
    <div class="tab-body-item" *ngIf="activeTab == 'Profile'">
      <div class="tab-profile">
        <div class="left-side-for-image">
          <img [src]="userProfile.avatar == '' ? '/assets/images/avatar.png' : userProfile.avatar" alt="" class="profile-image">
          <input type="file" #images_for_profile accept="image/*" id="images-for-profile" (change)="handleFileInput($event.target.files)">
          <p class="change-delete-profile-image">
            <span class="change-btn" (click)="popupforImage()">Change</span> | 
            <span class="delete-btn" (click)="deleteProfileImage()">Delete</span>
          </p>
        </div>
        <div class="right-side-for-info">
            <mat-label>* Full Name</mat-label>
          <mat-form-field class="">
            <input matInput placeholder="" [(ngModel)]='userProfile.name'>
          </mat-form-field>
          
            <mat-label>* Email</mat-label>  
          <mat-form-field class="">
            <input matInput placeholder="" [(ngModel)]='userProfile.email'>
          </mat-form-field>

            <mat-label>Phone Number</mat-label>
          <mat-form-field class="">
            <input type="number" matInput placeholder="" [(ngModel)]='userProfile.phone'>
          </mat-form-field>

            <mat-label>Company</mat-label>
          <mat-form-field class="">
            <input matInput placeholder="" [(ngModel)]='userProfile.company_name'>
          </mat-form-field>

          <div class="update-btn-div">
            <button (click)="updateProfile()">Update Profile</button>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-body-item" *ngIf="activeTab == 'Account'">
      <div class="tab-account">
        <button class="upgrade-btn">Upgrade</button>

        <p class="freetrial-explain">Your free trial expires in <span class="trial-days">25 days</span>!</p>

        <mat-form-field class="full-width">
          <mat-label>Old Password</mat-label>
          <input  matInput type="password"  placeholder="Old Password" [(ngModel)]="passwordUpdateInfo.old" >
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>New Password</mat-label>
          <input  matInput type="password"  placeholder="New Password" [(ngModel)]="passwordUpdateInfo.new">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Confirm</mat-label>
          <input  matInput type="password"  placeholder="Confirm" [(ngModel)]="passwordUpdateInfo.confirm">
        </mat-form-field>

        <div class="update-pwd-div">
          <button class="update-pwd-btn" (click)="updatePassword()">Update</button>
        </div>
      </div>

    </div>

    <div class="tab-body-item" *ngIf="activeTab == 'My Templates'">
      <div class="tab-my-template">
        <p class="template-title">
          <span class="title-name">Name</span>
          <span class="title-created">Created on</span>
        </p>

        <p class="template-item" *ngFor="let template of templates">
            <span class="title-name">{{template.templatename}}</span>
            <span class="title-created">{{template.created_at}}</span>
            <!-- <span class="title-edit"><mat-icon class="close-icon">edit</mat-icon>Edit</span> -->
            <span class="title-delete" (click)="deleteTemplate(template.key)"><mat-icon class="close-icon">close</mat-icon>Delete</span>
        </p>
      </div>
    </div>

    <div class="tab-body-item" *ngIf="activeTab == 'Apps'">
      <div class="tab-apps">
        <button class="upgrade-btn">Upgrade</button>

        <p class="upgrade-details">Upgrade now for unlimited access to apps !</p>

        <button class="contact-btn">Contact Sales</button>

        <p class="contact-details">Contact sales for additional help !</p>
      </div>
    </div>
  </div>
</div>