.profile{

    .title{
        color: black;
        padding-left: 20px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            color: #000000;
            font-family: "AvenirNextLTPro-Bold";
        }

        .close-icon{
            margin-right: 20px;
            cursor: pointer;
        }
    }

    .tab-header{
        display: flex;
        width: 100%;
        border: none;
        border-bottom: solid 1px #888;

        .tab-header-item{
            padding: 5px 30px;
            font-size: 15px;
            cursor: pointer;

            &:hover{
                color: #000;
            }
        }

        .active{
            color: #000;
        }
    }

    .tab-body{
        .tab-body-item{
            .tab-profile{
                display: flex;
                padding-top: 50px;
                padding-bottom: 50px;

                .left-side-for-image{
                    min-width: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .profile-image{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        background: #F2F2F2;
                    }
                    #images-for-profile{
                        display: none;
                    }

                    .change-delete-profile-image{
                        margin-top: 30px;
                        .change-btn{
                            color: #000;
                            cursor: pointer;
                            margin-right: 10px;
                        }

                        .delete-btn{
                            margin-left: 10px;
                            color: #000;
                            cursor: pointer;
                        }
                    }
                }

                .right-side-for-info{
                    min-width: 400px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-direction: column;
                    padding: 10px;
                    padding-right: 50px;

                    .update-btn-div{
                        display: flex;
                        justify-content: flex-end;
                        button{
                            border: 2px solid #2F5597;
                            color: #2F5597;
                            background: #fff;
                            padding: 5px 20px;
                            outline: none;
                        }
                    }
                }
            }

            .tab-account{
                padding: 40px 150px;
                display: flex;
                flex-direction: column;
                width: 600px;

                .upgrade-btn{
                    background: #2F5597;
                    color: #fff;
                    border: none;
                    outline: none;
                    padding: 5px 15px;
                    width: 100px;
                }

                .freetrial-explain{
                    font-style: italic;
                    margin-top: 20px;

                    .trial-days{
                        color: #2F5597;
                    }
                }

                .update-pwd-div{
                    display: flex;
                    justify-content: flex-end;
                    
                    .update-pwd-btn{
                        background: #2F5597;
                        color: #fff;
                        padding: 5px 15px;
                        border: none;
                        outline: none;
                    }
                }
            }

            .tab-my-template{
                padding: 30px 20px;

                .template-title{
                    display: flex;
                    .title-name {
                        width: 150px;
                        color: black;
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .title-created{
                        color: black;
                        font-size: 15px;
                        font-weight: bold;
                    }
                }

                .template-item{
                    display: flex;
                    .title-name {
                        width: 150px;
                        color: black;
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .title-created{
                        color: black;
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .title-edit{
                        margin-left: 40px;
                        display: flex;
                        cursor: pointer;
                    }

                    .title-delete{
                        margin-left: 40px;
                        display: flex;
                        cursor: pointer;
                    }
                }
            }

            .tab-apps{
                padding: 150px 150px;
                display: flex;
                flex-direction: column;
                width: 600px;
                justify-content: center;
                align-items: center;

                .upgrade-btn{
                    background: #2F5597;
                    color: #fff;
                    padding: 5px 15px;
                    width: 200px;
                    border: none;
                    outline: none;
                }

                .upgrade-details{
                    font-style: italic;
                    margin-top: 15px;
                }

                .contact-btn{
                    background: #fff;
                    color: #2F5597;
                    padding: 5px 15px;
                    width: 200px;
                    border: solid 2px #2F5597;
                    outline: none;
                    margin-top: 50px;
                }

                .contact-details{
                    font-style: italic;
                    margin-top: 15px;
                }
            }
        }
    }
}