.profile{

    margin: 0 -50px;

    .title{
        color: black;
        padding-left: 20px;
        font-size: 16px;
    }

    .tab-header{
        display: flex;
        width: 100%;
        border: none;
        border-bottom: solid 1px #888;

        .tab-header-item{
            padding: 5px 30px;
            font-size: 15px;
            cursor: pointer;

            &:hover{
                color: #000;
            }
        }

        .active{
            color: #000;
        }
    }

    .tab-body{
        .tab-body-item{
            .tab-profile{
                display: flex;

                .left-side-for-image{
                    min-width: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .profile-image{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                    }
                    #images-for-profile{
                        display: none;
                    }

                    .change-delete-profile-image{
                        margin-top: 30px;
                        .change-btn{
                            color: #000;
                            cursor: pointer;
                            margin-right: 10px;
                        }

                        .delete-btn{
                            margin-left: 10px;
                            color: #000;
                            cursor: pointer;
                        }
                    }
                }

                .right-side-for-info{
                    min-width: 400px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-direction: column;
                    padding: 10px;
                    padding-right: 50px;

                    .update-btn-div{
                        display: flex;
                        justify-content: flex-end;
                        button{
                            border: 2px solid #2F5597;
                            color: #2F5597;
                            background: #fff;
                            padding: 5px 20px;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}